.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/vcs.xml
android/.idea/.gitignore
android/.idea/.name
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/vcs.xml
